<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Remessa Facção</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RemessaFaccao.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="headInternal text-light navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Blim Blom </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                </button>

                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<IdentityUser> user
                @if (user.IsSignedIn(User) && User.Identity is not null && User.Identity.Name is not null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-light">
                        <ul class="navbar-nav flex-grow-1 text-light">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Faccao" asp-action="Index">Facção</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Remessa" asp-action="Index">Remessa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Novo Usuário</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Relatórios" asp-action="Index">Relatórios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contatos">Contatos</a>
                            </li>
                        </ul>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logform" method="post" class="navbar-left">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="nav-item">
                                    Olá @User.Identity.Name.ToUpper() &nbsp;
                                </li>
                                <li class="nav-item">
                                    <button type="submit" style="width: auto" class="nav-link btn btn-link py-0 text-light">
                                        &nbsp; Sair
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                }
                else{ }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RemessaFaccao.Web - <a asp-area="" asp-controller="Home" asp-action="Contatos">Contatos</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
