html {
    font-size: 17px;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
}

table {
    table-layout: auto;
    background-color: #f8ebee;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 4px 1px #b9b9b9;
}

dt, dd {
    padding: 5px;
}

row {
    padding: 10px; 
}

.headInternal {
    background-color: #a52f62; 
    color: cornsilk; 
}

.internal {
    background-color: #f8ebee;
    max-width: 800px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 4px 1px #b9b9b9;
    padding: 20px;
}

.internalHome {
    background-color: #f8ebee;
    max-width: 1080px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 4px 1px #b9b9b9; 
    padding: 20px; 
}

.internalLogin {
    background-color: #f8ebee;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 4px 1px #b9b9b9;
    padding: 20px;
}

.containerHome {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxHome {
    width: 600px;
    height: 400px;
}