@{
    ViewData["Title"] = "Manutenção";
}
<h1>@ViewData["Title"]</h1>

<div class="internal">
    <br />
    <h1><i class="bi bi-hammer"></i></h1>
    <h4>Esta página está em manutenção. </h4>
    <br />
</div>