@model RemessaFaccao.DAL.Models.Remessa

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Remessa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="internal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Faccao" class="control-label"></label>
                    @Html.DropDownList("FaccaoId", (SelectList)ViewBag.Faccoes, "Selecione uma facção", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label asp-for="StatusRemessa" class="control-label"></label>
                    <select asp-for="StatusRemessa" asp-items="@Html.GetEnumSelectList<RemessaFaccao.DAL.Models.Enums.StatusRemessa>()"  class = "form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Referencia" class="control-label"></label>
                    <input asp-for="Referencia" class="form-control" />
                    <span asp-validation-for="Referencia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Piloto" class="control-label"></label>
                    <input asp-for="Piloto" class="form-control" />
                    <span asp-validation-for="Piloto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Modelo" class="control-label"></label>
                    <input asp-for="Modelo" class="form-control" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tecido" class="control-label"></label>
                    <input asp-for="Tecido" class="form-control" />
                    <span asp-validation-for="Tecido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aviamentos" class="control-label"></label>
                    <div class="row">
                        <div class="col-md-8">
                            @Html.DropDownList("AviamentoId", (SelectList)ViewBag.Aviamentos, "Selecione os aviamentos", new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-secondary" id="btnAddAviamento">
                                Adicionar
                            </div>
                        </div>
                    </div>
                    <ul id="listAviamentos">
                        @foreach (var item in Model.Aviamentos)
                        {
                            <li>@Html.DisplayFor(itemModel => item.Nome)</li>
                        }
                    </ul>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho1" class="control-label"></label>
                    <input asp-for="Tamanho1" class="form-control" />
                    <span asp-validation-for="Tamanho1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho2" class="control-label"></label>
                    <input asp-for="Tamanho2" class="form-control" />
                    <span asp-validation-for="Tamanho2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho4" class="control-label"></label>
                    <input asp-for="Tamanho4" class="form-control" />
                    <span asp-validation-for="Tamanho4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho6" class="control-label"></label>
                    <input asp-for="Tamanho6" class="form-control" />
                    <span asp-validation-for="Tamanho6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho8" class="control-label"></label>
                    <input asp-for="Tamanho8" class="form-control" />
                    <span asp-validation-for="Tamanho8" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho10" class="control-label"></label>
                    <input asp-for="Tamanho10" class="form-control" />
                    <span asp-validation-for="Tamanho10" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tamanho12" class="control-label"></label>
                    <input asp-for="Tamanho12" class="form-control" />
                    <span asp-validation-for="Tamanho12" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorUnitario" class="control-label"></label>
                    <input asp-for="ValorUnitario" type="text" class="form-control" />
                    <span asp-validation-for="ValorUnitario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataDeEntrega" class="control-label"></label>
                    <input asp-for="DataDeEntrega" class="form-control" />
                    <span asp-validation-for="DataDeEntrega" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataPrazo" class="control-label"></label>
                    <input asp-for="DataPrazo" class="form-control" />
                    <span asp-validation-for="DataPrazo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataRecebimento" class="control-label"></label>
                    <input asp-for="DataRecebimento" class="form-control" />
                    <span asp-validation-for="DataRecebimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Observacoes" class="control-label"></label>
                    <input asp-for="Observacoes" class="form-control" />
                    <span asp-validation-for="Observacoes" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        //Validação do valor com uso da vírgula no campo
        jQuery.extend(jQuery.validator.methods, {
            number: function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)(?:,\d+)?$/.test(value);
            }
        });

        //Adição dos aviamentos na remessa
        $(document).ready(function () {
            $("#btnAddAviamento").click(function () {
                var chkRptAviamento = false;
                var currentValue = $("#AviamentoId option:selected").text().trim();

                if (currentValue == "Selecione os aviamentos") {
                    return false;
                }

                $('#listAviamentos li').each(function () {
                    var current = $(this).text().trim();

                    if (current == $("#AviamentoId option:selected").text().trim()) {
                        chkRptAviamento = true;
                    }
                });

                if (!chkRptAviamento) {
                    $("#listAviamentos").append("<li>" +
                        $("#AviamentoId option:selected").text() +
                        " <input type='hidden' name='chkAviamento' id='chkAviamento' class='chkAviamento' value='" +
                        $("#AviamentoId option:selected").val() +
                        "'></li>");
                } else {
                    alert("Aviamento já adicionado!");
                }
            });

            $('#listAviamentos').on('click', "li", function () {
                $(this).remove();
                return false;
            });
        });
    </script>
}
