@{
    ViewData["Title"] = "Contatos";
}
<h1>@ViewData["Title"]</h1>

<div class="internal">
    <p>Este é um projeto criado para controlar remessas de cortes enviadas para facções de costuras, feito especialmente para a loja Blim Blom. </p>
    <br />
    <p>Todo o projeto foi pensado inicialmente para ser o mais intuitivo e o mais prático possível, totalmente sem fins lucrativos. </p>
    <hr />
    <br />
    <p>Para possíveis dúvidas e sugestões favor entrar em contato... </p>
    <h5>Email: paulodetarso.teles@hotmail.com</h5>
    <h5>Whatsapp: (85) 99167-2946</h5>
    <h5> <a href="https://www.linkedin.com/in/paulodetarsoteles/" target="_blank">LinkedIn</a></h5>
</div>