@model RemessaFaccao.DAL.Models.ViewModels.ManagerImagesViewModel;

@{
    ViewBag.Title = "Arquivadas";
}

<link rel="stylesheet" href="~/css/imagens.css" asp-append-version="true" />

@if (Model is null)
{
    <h1>Imagens</h1>
    <div class="internal">
        <span>
            <b>
                Nenhuma imagem encontrada...
            </b>
        </span>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
}
else
{
    <h1>Imagens</h1>
    @if (ViewData["Erro"] is not null)
    {
        <div class="internal" style="width:480px">
            <span>
                <b>
                    Ops! Infelizmente algo aconteceu de errado...
                </b>
            </span>
            <br />
            <img src="~/imgs/error.png" width="200px" class="img-fluid">
            <hr />
            <span>@ViewData["Erro"]</span>
            <br />
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">&nbsp;&nbsp;Ok&nbsp;&nbsp;</a>
            </div>
        </div>
    }
    else
    {
        string diretorio = Model.PathImages;
        <div class="row d-flex">
            @foreach (FileInfo img in Model.Files)
            {
                <div class="internal" style="width:280px">
                    <div style="height:280px">
                        <img src="~/@diretorio/@img.Name" width="200">
                    </div>
                    <div style="padding:10px;text-align:left">
                        <a href="@Url.Action("DeleteFile","Imagens",new { imgName = img.Name })" class="btn btn-danger"> Deletar</a>
                    </div>
                </div>
            }
        </div>
    }
}
