@{
    ViewData["Title"] = "Imagens";
}

<link rel="stylesheet" href="~/css/imagens.css" asp-append-version="true" />

<h1>Gerenciamento de Imagens</h1>
<div class="row d-flex">
    <div class="internal" style="width:420px">
        <div>
            <span>
                <b>
                    Selecione uma ou mais imagens:
                </b>
            </span>
        </div>
        <hr />
        <div>
            <form method="post" enctype="multipart/form-data" asp-controller="Imagens" asp-action="UploadImagens">
                <img src="~/imgs/upload.png" class="img-fluid" width="180" />
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="input-group-text" type="file" name="file" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Enviar Imagens" class="btn btn-secondary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="internal" style="width:420px">
        <div>
            <span>
                <b>
                    Visualizar imagens :
                </b>
            </span>
        </div>
        <hr />
        <div>
            <form method="post" enctype="multipart/form-data" asp-controller="Imagens" asp-action="GetImagens">
                <img src="~/imgs/search.png" class="img-fluid" width="180" />
                <div class="form-group">
                    <div class="col-md-10">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Visualizar Imagens" class="btn btn-secondary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    @if (ViewData["Deletado"] is not null)
    {
        <span>
            <b>A imagem @ViewData["Deletado"] foi excluída!</b>
        </span>
    }
</div>